<!DOCTYPE html>
<html>
<title>Gender Equality Index</title>
<meta charset="UTF-8">

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.min.css">




<!--script type="text/javascript" src="{{ url_for('static', filename='d3.js') }}"></script-->
<script type="text/javascript" src="http://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='map_render.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index_bar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index_bar2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='gender_equality.js') }}"></script>

<body>
    <h1 class="text-center mt-4">Gender Equality Index</h1>
    <div class="container mt-5">
        <div class="row vh-100">
            <!--div class="col-6">
                <svg id="vis1" class="h-75 border border-dark col-12">
                </svg>
                <h4 id="caption" class="text-center">Overall Index</h4>
            </div>
            <div class="col-6">
                <div id="filter-panel" class="h-75 border border-dark">
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Domain
                      </button>
                      <div class="dropdown-menu" id="domain_drop">
                        <a class="dropdown-item" href="#">Work</a>
                        <a class="dropdown-item" href="#">Money</a>
                        <a class="dropdown-item" href="#">Knowledge</a>
                        <a class="dropdown-item" href="#">Time</a>
                        <a class="dropdown-item" href="#">Power</a>
                        <a class="dropdown-item" href="#">Health</a>
                      </div>
                    </div>
                    <svg id="vis2" class="h-75 border border-dark col-12">
                    </svg>
                </div>

            </div-->
            <div class="border h-100 col-12">
                <div class="btn-group">
                      <button id="dropdown_btn" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Overall</button>
                      <div class="dropdown-menu" id="domain_drop">
                        <a class="dropdown-item" href="#">Overall</a>
                        <a class="dropdown-item" href="#">Work</a>
                        <a class="dropdown-item" href="#">Money</a>
                        <a class="dropdown-item" href="#">Knowledge</a>
                        <a class="dropdown-item" href="#">Time</a>
                        <a class="dropdown-item" href="#">Power</a>
                        <a class="dropdown-item" href="#">Health</a>
                      </div>
                    </div>
                <br>
                <svg id="vis1" class="h-75 col-12 mt-4">
                </svg>
                <div class="text-center col-12">
                <input class="col-12" id="sliderElem" type="text"
                      data-provide="slider"
                      data-slider-ticks='["1", "2", "3", "4"]'
                      data-slider-ticks-labels='["2005", "2010", "2012", "2015"]'
                      data-slider-min="1"
                      data-slider-max="3"
                      data-slider-step="1"
                      data-slider-value="4"
                      data-slider-tooltip="hide"
                      style="width: 100%" />
                </div>

                <h6 id="caption" class="text-center">Overall Index</h6>
                
            </div>
            <hr>
            <hr>
            <div class="col-12 h-100">
                    <div class="btn-group">
                      <button id="dropdown_btn" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Overall</button>
                      <div class="dropdown-menu" id="domain_drop">
                        <a class="dropdown-item" href="#">Overall</a>
                        <a class="dropdown-item" href="#">Work</a>
                        <a class="dropdown-item" href="#">Money</a>
                        <a class="dropdown-item" href="#">Knowledge</a>
                        <a class="dropdown-item" href="#">Time</a>
                        <a class="dropdown-item" href="#">Power</a>
                        <a class="dropdown-item" href="#">Health</a>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>